.login {
  height: calc(100vh - 59px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://wallpapercave.com/dwp1x/wp6392479.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
  font-family: "Rubik Distressed", cursive;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: #ffffff;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #f08080;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #20b2aa;
  cursor: pointer;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
