.notFound {
  height: calc(100vh - 59px);
  background: url("https://wallpapercave.com/wp/wp8639969.jpg");
  background-size: 100% 100%; /* 
  background-attachment: fixed;
  background-position: center; */
  background-repeat: no-repeat;
}
